/***
* Superfluous Page Styles
*
* These styles are not required for Animsition to function.
***/

.navbar {
	border-radius: 0;
}

.home {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 75vh;
}

footer {
	background-color: rebeccapurple;
	padding: 2rem 0;
	color: #fff;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}